*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: $font-size-default;
    font-family: $font-family-default;
    font-weight: 500;
    color: $desaturated-dark-cyan;
    background-color: $light-grayish-cyan-bg;
}

body {
    box-sizing: border-box;
}

.header-bg {
    height: 10rem;
    background: $desaturated-dark-cyan url("/images/bg-header-desktop.svg") no-repeat;
    background-size: 100% 100%;

    @media only screen and (max-width: 375px) {
        background: $desaturated-dark-cyan url("/images/bg-header-mobile.svg") no-repeat;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-bottom: 3rem;

    & a {
        color: hsl(228, 45%, 44%);
    }
}